/* *{
    color: white;
} */
.spazio{
    height: 2000px;
}
.margin-top-navbar{
    margin-top: 60px;
}
.card{
    border: none !important;
}
h1{
    font-size: 300%;
}
h5{
    font-size: 300%;
}
.edu-regular{
    font-family: 'Edu QLD Beginner', cursive;
}